.banner {
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0,0,0,0.4)), url('nebula.jpg');
    background-size: cover;
    background-position: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.icon-service {
    width: 90px;
    height:90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #ffff;
}

.tcard{
    background: white !important;
    border: 1px solid #ddd !important;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.tcard:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.13);
    border-color: rgba(255, 255, 255, 0.3);
}


.tcard .quote-icon {
    font-size: 2rem;
    color: #ff0000;
    line-height: 1;
    margin-bottom: 20px;
}

.tcard h5 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
}


.tcard .author {
    font-size: 1rem;
    color: #777;
    line-height: 1.5;
    margin-bottom: 10px;
}


.tcard .stars i {
    color: #ffcc00;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer{
    background-color: #ffffff;
    padding: 0 0;
    margin: 0 0;
}

i :hover {
    color: rgb(69, 69, 143);
}

i.bi {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease-in-out;
}

.footer p{
    color: rgb(0, 0, 0);
}

.btn {
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 1px solid #000000;
    transition: background-color 0.3s ease-in-out;
}