.banner {
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0,0,0,0.4)), url('nebula.jpg');
    background-size: cover;
    background-position: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    margin-right: 20px;
}